@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MiSans';
  font-style: normal;
  font-weight: 300;
  src: local('MiSans Light'), local('MiSans-Light'), url(../public/assets/MiSans-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'MiSans';
  font-style: normal;
  font-weight: 400;
  src: local('MiSans Regular'), local('MiSans-Regular'), url(../public/assets/MiSans-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'MiSans';
  font-style: normal;
  font-weight: 500;
  src: local('MiSans Medium'), local('MiSans-Medium'), url(../public/assets/MiSans-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'MiSans';
  font-style: normal;
  font-weight: 600;
  src: local('MiSans Semibold'), local('MiSans-Semibold'), url(../public/assets/MiSans-Semibold.ttf) format('ttf');
}

@font-face {
  font-family: 'MiSans';
  font-style: normal;
  font-weight: 700;
  src: local('MiSans Bold'), local('MiSans-Bold'), url(../public/assets/MiSans-Bold.ttf) format('ttf');
}

.animation {
  animation: anim
  1.5s
  ease-out
  0s
  alternate
  infinite
  none
  running;
}

@keyframes anim {
  from {
    flex: 0;
  }
  to {
    flex: 1;
  }
}

.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}